.card {
    display: flex;
    max-width: 600px;
    margin: 12px;
}
img {
    max-width: 300px;
    max-height: 200px;
}
.details {
    display: 'flex';
    flex-Direction: 'column';
}

/* Add some padding inside the card container */
.text {
    padding: 2px 16px;
}