$default-font: sans-serif;
#prayer-request {
    text-align: center;
    #form-wrap {
        form {
            display: flex;
            align-items: center;
            flex-direction: column;
            .field {
                font-size: 1.1rem;
                width: 500px;
                margin-bottom: 10px;
                padding: 5px;
                border-radius: 5px;
            }
            textarea.message {
                font-family: $default-font;
                height: 250px;
            }
        }
    }
}